In [1]:
import pandas as pd
import matplotlib as plt
import numpy as np
import sqlalchemy 
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import datetime as dt

In [2]:
# Choose a start date and end date for trip (3-15 days total)

In [3]:
# Use SQLAlchemy `create_engine` to connect to sqlite database
engine = create_engine("sqlite:///hawaii.sqlite")

In [4]:
# Use SQLAlchemy `automap_base()` to reflect tables into classes 
Base = automap_base()
Base.prepare(engine, reflect=True)

# View classes
Base.classes.keys()

['hawaii_measurements', 'hawaii_stations']

In [5]:
# Save a reference to those classes called `Station` and `Measurement`
Measurement = Base.classes.hawaii_measurements
Station = Base.classes.hawaii_stations

In [6]:
# Create session (link) from Python to the DB
session = Session(engine)

In [12]:
### Precipitation Analysis

# Design a query to retrieve the last 12 months of precipitation data.
prev_year = dt.date.today() - dt.timedelta(days=365)

# Select only the `date` and `prcp` values.
results = session.query(Measurement.date, Measurement.prcp).filter(Measurement.date >= prev_year).all()
#print(results)

# Load the query results into a Pandas DataFrame and set the index to the date column; verify data is present
precip_df = pd.DataFrame(results, columns=['date', 'precipitation'])
precip_df.set_index(precip_df['date'], inplace=True)
precip_df.head()

                  date  precipitation
date
2017-04-30  2017-04-30           0.89
2017-05-01  2017-05-01           0.26
2017-05-02  2017-05-02           0.00
2017-05-03  2017-05-03           0.00
2017-05-04  2017-05-04           0.00

In [8]:
#Plot the results using the DataFrame `plot` method.
#Use Pandas to print the summary statistics for the precipitation data.
df.plot(x_compat=True)

# Rotate the xticks for the dates
#plt.xticks(rotation='45')
plt.tight_layout()
plt.show()

NameError: name 'df' is not defined

In [ ]:
### Station Analysis

# Design a query to calculate the total number of stations.

#Design a query to find the most active stations.

#List the stations and observation counts in descending order

#Which station has the highest number of observations?

#Design a query to retrieve the last 12 months of temperature observation data (tobs).

#Filter by the station with the highest number of observations.

#Plot the results as a histogram with `bins=12`.

In [ ]:
### Temperature Analysis

# Write a function called `calc_temps` that will accept a start date and end date in the format `%Y-%m-%d` and return the minimum, average, and maximum temperatures for that range of dates.

# Use the `calc_temps` function to calculate the min, avg, and max temperatures for your trip using the matching dates from the previous year (i.e. use "2017-01-01" if your trip start date was "2018-01-01")

# Plot the min, avg, and max temperature from your previous query as a bar chart.

# Use the average temperature as the bar height.
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr).