In [1]:
# Remove database for re-running of code
!rm hawaii.sqlite

In [2]:
# Import dependencies
import pandas as pd
import numpy as np
import os
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float

In [3]:
# Use the engine and connection string to create a database called `hawaii.sqlite`
engine = create_engine("sqlite:///hawaii.sqlite")
# Connect to the engine
conn = engine.connect()

In [4]:
# Use declarative_base;  create ORM classes for measurements and stations
Base = declarative_base()

class HImeasurements(Base):
    __tablename__ = 'hawaii_measurements'
    id = Column(Integer, primary_key=True)
    station = Column(Text)
    date = Column(Text)
    prcp = Column(Float)
    tobs = Column(Integer)

    def __repr__(self):
        return f"id={self.id}, name={self.station}"

class HIstations(Base):
    __tablename__ = 'hawaii_stations'
    id = Column(Integer, primary_key=True)
    station = Column(Text)
    name = Column(Text)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
    
    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [5]:
# Create the tables in the database using create_all
Base.metadata.create_all(engine)

In [6]:
# Check to see if tables were created
engine.table_names()

['hawaii_measurements', 'hawaii_stations']

In [7]:
# Create a function to populate the table
def populate_table(engine, table, csvfile):
    
    # Load the CSV file into a pandas dataframe 
    df_of_data_to_insert = pd.read_csv(csvfile)
    
    # Use Orient='records' to create a list of data to write
    data = df_of_data_to_insert.to_dict(orient='records')
    
    # Remove tables for re-running of code
    conn.execute(table.delete())

    # Insert the dataframe into the database in one bulk insert
    conn.execute(table.insert(), data)
    
# Call the function to insert the data for each table
populate_table(engine, HIstations.__table__, 'hawaii_stations.csv')
populate_table(engine, HImeasurements.__table__, 'clean_hawaii_measurements_csv.csv')

In [8]:
# Test that the insert works by fetching first 5 rows
conn.execute("select * from hawaii_stations limit 5").fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6)]

In [9]:
# Test that the insert works by fetching first 5 rows
conn.execute("select * from hawaii_measurements limit 5").fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65),
 (2, 'USC00519397', '2010-01-02', 0.0, 63),
 (3, 'USC00519397', '2010-01-03', 0.0, 74),
 (4, 'USC00519397', '2010-01-04', 0.0, 76),
 (5, 'USC00519397', '2010-01-07', 0.06, 70)]